* Add your custom styles here */

/* You can customize the header styles as per your design requirements */
body{
    width: 100%;
    height: 100%;
    background: rgb(243,208,251);
    background: linear-gradient(90deg, rgba(243,208,251,1) 52%, rgba(201,115,255,1)72%);
   
}
   
header {
    padding: 20px 0;
    /* background-color: rgb(248, 166, 166);} */}
.navbar-brand {
    font-weight: bold;
}

.navbar-nav .nav-link {
    margin-right: 60px;
    color: black;
    font-weight: bold;
}

#button{
        
    border: 2px solid blue;
  }

  .pana{
   
  margin: -50px;
   width: 200px;
  
}

.box1{
    padding-inline-start: 120px;
  }

  #button{
        
  border: 2px solid blue;
  padding-bottom: 10px;
  padding-top: 10px;
 margin-top: 1px;
 
     }

    .computer{
     float: right;
      padding: 10px;  
     margin-right: 60px;
    width: 700px;
   margin-top: -130px;
   
    }

    .heading{
        margin: 150px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 50px;
        color: rgb(20, 20, 62);
        margin-top: -25px;
    }

    .free{
        margin-top: -350px;
        padding: 200px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 50px;
        color: rgb(245, 164, 164);
    }

    .para{
        margin-top: -400px;
        padding: 190px;
    }

   .hello{
    
   border: 2px solid rgb(0, 0, 0);
   width: 200px;
   height: 40px;
   text-align: center;
   background-color: rgb(15, 55, 255);
  
   
   }

   .box3{
    margin-top: -370px;
    padding: 190px;
    
   }


   .box5{
    margin: -50px;
   }


/* You can add more styles for different screen sizes using Bootstrap's grid classes */